@model Avakids2.Models.NhanVien

@{
    ViewBag.Title = "Thông tin nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
}

<div class="container-fluid w-50 d-flex justify-content-between p-0">
    <h4 class="h-50 text-info">@ViewBag.Title</h4>
    <button onclick="location.href='@Url.Action("Index","NhanViens")'" class="btn-single m-0">
        Đóng
    </button>
</div>
<div class="dl-horizontal w-50 container">
    <hr />
    <dl class="d-flex justify-content-between">
        <div class="w-50">

        <dt>
            @Html.DisplayName("Họ nhân viên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoNV)
        </dd>

        <dt>
            @Html.DisplayName("Tên nhân viên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayName("Giới tính")
        </dt>

        <dd>
            @{if (Model.GioiTinh == true)
                { gtinh = "Nam"; }
                else
                { gtinh = "Nữ"; }
            }
            @gtinh
        </dd>
        <dt>
            @Html.DisplayName("Ngày sinh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <button onclick="location.href='@Url.Action("Edit","NhanViens",new { id = Model.MaNV })'" class="btn-single m-0">
            Sửa
        </button>
</div>
<div class="w-50">
    <dt>
        @Html.DisplayName("Số điện thoại")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoDT)
    </dd>
    <dt>
        @Html.DisplayName("Ngày làm việc")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NgayLamViec)
    </dd>
    <dt>
        @Html.DisplayName("Tên đăng nhập")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TenDangNhap)
    </dd>

    <dt>
        @Html.DisplayName("Mật khẩu")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MatKhau)
    </dd>
    <dt>
        @Html.DisplayName("Địa chỉ")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DiaChi)
    </dd>
</div>

     
    </dl>
</div>
