@model IEnumerable<Avakids2.Models.NhanVien>

@{
    ViewBag.Title = "DANH SÁCH NHÂN VIÊN";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenNV", rowsPerPage: 10);
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <button class="btn btn-primary col-1" height="38">
            <i class="fa fa-plus-circle"></i>
            @Html.ActionLink("Thêm", "Create")
        </button>
        <div class="col-11">
            @using (Html.BeginForm("TimKiem_NhanVien", "NhanViens", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <table class="table1" align="right">
                    <tr class="pb-1">
                        <td class="control-label">Tìm sản phẩm </td>
                        <td>
                            <input class="form-control" type="text" name="Ten" value="@ViewBag.Ten" />
                        </td>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" type="submit" name="submit" value="Tìm kiếm">Tìm kiếm</button>
                            <button class="btn btn-primary" type="button" name="Nhapmoi" value="Nhập mới" onclick="location.href='@Url.Action("Index", "NhanViens")'">Nhập mới</button>

                        </td>
                    </tr>
                </table>
                @ViewBag.TB
            }
        </div>
    </div>
</div>
<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[]  // colums in grid
         {
        grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, canSort: true, style: "STT"),
        grid.Column("MaNV","Mã nhân viên"), //the model fields to display
        grid.Column("HoNV","Họ nhân viên"),
        grid.Column("TenNV","Tên nhân viên"),
        grid.Column("GioiTinh","Giới tính",format: (@item) => @item.GioiTinh==true?"Nam":"Nữ", canSort: true, style: "GT"),
        grid.Column("NgaySinh","Ngày sinh",format:@<text> @item.NgaySinh.ToString("MM/dd/yyyy")</text>),
grid.Column("DiaChi","Địa chỉ"),
grid.Column("NgayLamViec","Ngày làm việc",format:@<text> @item.NgayLamViec.ToString("MM/dd/yyyy")</text>),
grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit",new { id = item.MaNV})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="/images/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Details",new { id = item.MaNV})" class="edit-btn"><abbr title="Xem chi tiết"><img src="/images/details.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Delete",new { id = item.MaNV})" class="edit-btn">
        <abbr title="Xóa dữ liệu">
            <img src="/images/delete.png" width="20" height="20" />
        </abbr>
    </a>
</text>, canSort: true, style: "CN"),

}
)
</div>


