@model Avakids2.Models.Hang

@{
    ViewBag.Title = "Thông tin hãng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid w-50 d-flex justify-content-between p-0">
    <h4 class="h-50 text-info">@ViewBag.Title</h4>
    <button onclick="location.href='@Url.Action("Index","Hangs")'" class="btn-single m-0">
        Đóng
    </button>
</div>
<div class="container w-50">
    <hr />
</div>
<div>
    <dl class="dl-horizontal container w-50 d-flex justify-content-between">
        <div class="w-50">
        <dt>
            @Html.DisplayName("Tên hãng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <button onclick="location.href='@Url.Action("Edit","Hangs",new { id = Model.MaHang })'" class="btn-single m-0">
            Sửa
        </button>
</div>
<div class="w-50">
    <dt>
        @Html.DisplayName("Email")

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    <dt>
        @Html.DisplayName("Số điện thoại")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoDT)
    </dd>
</div>
    </dl>
</div>
