@{
    string id = "";
    string admin = "";
    string hoTen = "";
    try
    {
        hoTen = Session["HoTen"].ToString();
        id = Session["id"].ToString();
        admin = Session["Admin"].ToString();
        if (id != null)
        {
            ViewBag.NguoiDung = hoTen;
        }
        else
        {
            ViewBag.NguoiDung = "Chưa đăng nhập";
        }
    }
    catch
    {

    }
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Layout_home.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header class="header">
        <div class="header_main">
            <section class="header_top">
                <a href="@Url.Action("Index","HomePage")" class="header_logo"><img class="logo" src="~/images/cover-kids.png" alt="logo" /></a>
                <form class="form-group header_search_form rounded-pill input-group-text bg-white" action="@Url.Action("TimKiem")" method="get">
                    <input type="search" class="form-control" placeholder="Tìm sản phẩm,..." name="Ten" value="@ViewBag.Ten" required />
                    <button type="submit" class="btn-sm bg-white border-0">
                        <i class="bi-search"></i>
                    </button>
                </form>
                <div class="box_right text-center">
                    <a href="@Url.Action("Index","GioHang")" class="header_cart p-1 text-white text-decoration-none"> <i class="bi-bag"></i> Giỏ hàng</a>
                    <a href="/" class="header_hotline p-1 text-white text-decoration-none">
                        Hotline (7h30 - 22h00)
                        <br>
                        <span class="text-warning fw-bold">0797051900</span>
                    </a>
                </div>
                @{
                    if (!String.IsNullOrEmpty(admin))
                    {
                        <div>
                            <a href="@Url.Action("Index","SanPhams")" class="btn btn-sm text-white fw-bold">Admin</a>
                        </div>
                    }
                 }
                @{
                    if (!String.IsNullOrEmpty(id))
                    {
                        <div>
                            <a class="text-white fw-bold">@ViewBag.NguoiDung</a>
                            <a href="@Url.Action("Logout","DangNhap")" class="btn btn-sm text-white fw-bold">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="@Url.Action("DangNhap","DangNhap")" class="header_cart p-1 text-white text-decoration-none"> <i class="bi-person"></i>Đăng nhập</a>
                        </div>
                    }


                }


            </section>

            <section>
                <nav class="header_menu pt-2">
                    <ul class="list_menu text-uppercase text-white">
                        <li><a class="text-decoration-none text-white" href="@Url.Action("NganhHang", new { id = "2382"})">Sữa bầu</a></li>
                        <li><a class="text-decoration-none text-white" href="@Url.Action("NganhHang", new { id = "9079"})">sữa bột cho bé</a></li>
                        <li><a class="text-decoration-none text-white" href="@Url.Action("NganhHang", new { id = "2427"})">Tã cho bé</a></li>
                        <li><a class="text-decoration-none text-white" href="@Url.Action("NganhHang", new { id = "2605"})">ăn dặm cho bé</a></li>
                        <li><a class="text-decoration-none text-white" href="@Url.Action("NganhHang", new { id = "8683"})">bình sữa</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - AVAKids</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
