@model Avakids2.Models.SanPham

@{
    ViewBag.Title = "Thông tin sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid w-50 d-flex justify-content-between p-0">
    <h4 class="h-50 text-info">@ViewBag.Title</h4>
    <button onclick="location.href='@Url.Action("Index","SanPhams")'" class="btn-single m-0">
        Đóng
    </button>
</div>
<div>
    <hr />
    <dl class="dl form-horizontal container w-50 d-flex justify-content-between ">
        <div class="w-50">
            <img src="~/ProductImages/@Html.DisplayFor(model => model.AnhSP)" width="300" height="300" />
        </div>
        <div class="w-50">
        <dt>
            @Html.DisplayName("Tên sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayName("Đơn giá phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayName("Hãng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang.TenHang)
        </dd>

        <dt>
            @Html.DisplayName("Ngành")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh.TenNganh)
        </dd>

        <dt>
            @Html.DisplayName("Đơn vị tính")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayName("Số lượng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>
</div>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
