@model IEnumerable<Avakids2.Models.SanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenSP", rowsPerPage: 6);
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid" style="margin-bottom: 10px">
    <div class="row">
        <div class="col-1">
            <button onclick="location.href='@Url.Action("Create","SanPhams")'" class="btn-single">
                <i class="fa fa-plus-circle"></i>
                Thêm
            </button>
        </div>
        <div class="col-11">
            @using (Html.BeginForm("TimKiem_SanPham", "SanPhams", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <table class="table1" align="right">
                    <tr class="pb-1">
                        <td class="control-label">Tìm sản phẩm </td>
                        <td>
                            <input class="form-control" type="text" name="Ten" value="@ViewBag.Ten" />
                        </td>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" type="submit" name="submit" value="Tìm kiếm">Tìm kiếm</button>
                            <button class="btn btn-primary" type="button" name="Nhapmoi" value="Nhập mới" onclick="location.href='@Url.Action("Index", "SanPhams")'">Nhập mới</button>

                        </td>
                    </tr>
                </table>
                @ViewBag.TB
            }
        </div>
    </div>
</div>

<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[]  // colums in grid
         {
        grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, canSort: true, style: "STT"),
        grid.Column("MaSP","Mã sản phẩm"), //the model fields to display
        grid.Column("TenSP","Tên sản phẩm"),
        grid.Column("MaHang","Hãng"),
        grid.Column("MaNganh","Ngành hàng"),
        grid.Column("SoLuong","Số lượng"),
        grid.Column("Dongia","Đơn giá",canSort: true, style: "total"),
        grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit",new { id = item.MaSP})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="/images/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Details",new { id = item.MaSP})" class="edit-btn"><abbr title="Xem chi tiết"><img src="/images/details.png" width="20" height="20" /></abbr></a>
    <a class="edit-btn" data-toggle="modal" data-target="#exampleModalCenter">
        <abbr title="Xóa dữ liệu">
            <img src="/images/delete.png" width="20" height="20" />
        </abbr>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-info" id="exampleModalLongTitle">Thông báo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div class="ml-2">
                                Xác nhận xóa
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" onclick="location.href='@Url.Action("Delete",new { id = item.MaSP})'" class="btn btn-primary">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </a>
        </text>),

}
)
</div>
<script>
    let x = document.querySelectorAll(".total");
    for (let i = 0, len = x.length; i < len; i++) {
        let num = Number(x[i].innerHTML)
            .toLocaleString('en');
        x[i].innerHTML = num + "đ";
        x[i].classList.add("currSign");
    }
</script>