@model Avakids2.Models.HoaDon

@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid w-50 d-flex justify-content-between p-0">
    <h4 class="h-50 text-info">@ViewBag.Title</h4>
    <button onclick="location.href='@Url.Action("Index","Hangs")'" class="btn-single m-0">
        Đóng
    </button>
</div>
<div class="w-50 container">
    <hr />
    <dl class="dl-horizontal d-flex justify-content-between">
        <div class="w-50">
        <dt>
            @Html.DisplayName("Ngày đặt hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>

        <dt>
            @Html.DisplayName("Họ khách hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoKH)
        </dd>

        <dt>
            @Html.DisplayName("Tên khách hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>
</div>
<div class="w-50">
    <dt>
        @Html.DisplayName("Địa chỉ giao hàng")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DiaChiGiaoHang)
    </dd>

    <dt>
        @Html.DisplayName("Tình trạng")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TinhTrang)
    </dd>
</div>


    </dl>
</div>
<div class="container-fluid w-50 d-flex justify-content-between p-0">
    <button onclick="location.href='@Url.Action("Index","Hangs")'" class="btn-single m-0">
        Xác nhận
    </button>
    <button type="button" class="btn-single m-0" data-toggle="modal" data-target="#exampleModalCenter">
        Hủy đơn
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="exampleModalLongTitle">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div class="ml-2">
                            Xác nhận hủy đơn hàng
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    }
</script>